mixin testimonial(number, text, name, title, activeFlag)
  .testimonial(data-testimonial= number, class= (activeFlag) ? 'active' : '')
    .text= text
    .source
      span.source-name!= name
      span.source-title.c-sec!= title

mixin product(imgSrc, title, subtext, link, linktitle, optionalClass)
  .col-xs-12.col-sm-6.col-md-4.product-wrapper
    .product(class= optionalClass, id= title.replace(/\s+/g, ''))
      .product-image.wow.pulse
        a(href= link)
          img(src= imgSrc, alt= title)
      .product-meta
        .title!= title
        .sub-text!= subtext
        .product-button.hover-scale.button
          a.button.double-lined.c-sec(href= link)!= linktitle

mixin fullProduct(imgSrc, title, desc, btnLink, btnText, blankFlag, colorFlag)
  .full-product.col-xs-12.wow.fadeIn(id= title.replace(/\s+/g, ''))
    .row.inner-row
      .f-product-image.col-xs-12.col-sm-4
        .image-wrapper.wow.pulse(class= (colorFlag) ? 'bg-prim' : 'bg-sec')
          img.img-responsive(src= imgSrc, alt= title)
      .f-product-meta.col-xs-12.col-sm-8.col-md-8
        .product-text
          .product-title.inline-block.bold!= title.replace(/([A-Z]+)/g, ' $1').trim()
          .product-desc.lg!= desc
        if (btnLink)
          .f-product-btn.inline-block
            a.button.bg-prim.hover-scale.inline-block.lg(href= btnLink, target= (blankFlag) ? '_blank' : '')!= (btnText) ? btnText : 'View Details &rarr;'


mixin snipCartProduct(url, subfolderTitle, id, title, price, desc, topics, colorFlag, topicFlag, scienceLessonFlag)
  .full-product.snipcart-product.col-xs-12.wow.fadeIn(id= title.replace(/\s+/g, ''))
    .row.inner-row
      .f-product-image.col-xs-12.col-sm-4
        .image-wrapper.wow.pulse(class= (colorFlag) ? 'bg-prim' : 'bg-sec')
          img.img-responsive(src='/images/products/' + subfolderTitle + '/' + encodeURIComponent(title) + '.jpg', alt= title)
      .f-product-meta.col-xs-12.col-sm-8.col-md-8
        .product-text
          .product-title.inline-block.bold!= title
          br
          .product-price.inline-block.bold.xl= '$' + price
          br
          button.button.double-lined.double-width.product-snipcart-btn.snipcart-add-item.bg-white.hover-scale.xl(data-item-id= id, data-item-name= title, data-item-price= price, data-item-url= url + '#' + title, data-item-description= desc, data-item-image= '/images/products/' + subfolderTitle + '/' + encodeURIComponent(title) + '.jpg') Add To Cart
          .product-desc.lg
            span!= desc
            if (topics)
              br
              span.bold.science-topics.c-dark.block= (topicFlag) ? 'Take Home Project(s):' : 'Science Topics:'
                .sublist
                  each topic in topics
                    li= topic


mixin arrow(width, height)
  - if (!width) width = '8px';
  - if (!height) height = '8px';
  svg(viewbox='0 0 18 18', aria-hidden='true', focusable='false', style='height: ' + height + '; width: ' + width + '; fill: currentcolor;')
    path(fill-rule='evenodd', d='M4.293 1.707A1 1 0 1 1 5.708.293l7.995 8a1 1 0 0 1 0 1.414l-7.995 8a1 1 0 1 1-1.415-1.414L11.583 9l-7.29-7.293z')


mixin navigation()
  #navigation.absolute
    .container.relative
      .mobile-nav.hidden-md.hidden-lg
        .nav-logo
          a(href='/')
            img(src='/images/common/logo_main.png', alt='Little Scientists - Home')
        .nav-menu.pointer.text-center
          span.bar
          span.bar
          span.bar
          span.text.c-sec.xs Menu
        ul.nav-list.c-w.hidden
          span.nav-close.pointer Close (Esc)
          li.nav-item
            a.nav-link.snipcart-checkout.pointer(onclick="$('.nav-list').toggleClass('hidden');") Cart
          li.nav-item
            a.nav-link#HomeNav(href='/') Home
          li.nav-item
            a.nav-link#ProductsNav(href='/products') Products & Services
          li.nav-item
            a.nav-link#SuccessStoriesNav(href='/success-stories') Success Stories
          li.nav-item
            a.nav-link#AboutNav(href='/about') About Us
          li.nav-item
            a.nav-link#ContactNav(href='#Contact') Contact Us
          if (!user)
            li.nav-item
              a.nav-link#LoginNav(href='/login') Login
          else
            li.nav-item
              a.nav-link#LogoutNav(href='/logout') Logout
      .desktop-nav.hidden-xs.hidden-sm
        .nav-logo
          a(href='/')
            img(src='/images/common/logo_main.png', alt='Little Scientists - Home')
        .top-nav
          ul.top-nav-list
            if (!user)
              li.top-nav-item
                a(href='mailto:info@little-scientists.com')
                  span.icon
                    // TODO Insert Icon
                  span.text info@little-scientists.com
              li.top-nav-item.phone
                // TODO inset tel
                a.bold(href='tel:')
                  span.icon
                    // TODO Insert Icon
                  span.text 1-800-FACT-FUN
            else
              li.top-nav-item.no-icon
                a(href='/members')
                  span.text GO TO MEMBERS AREA &rarr;
            li.top-nav-item.cart
              // TODO inset tel
              a.bold.snipcart-checkout.pointer
                span.icon
                  // TODO Insert Icon
                span.text Cart
        .bottom-nav
          ul.nav-list
            li.nav-item
              a.nav-link#HomeNav(href='/') Home
            li.nav-item.hasSubnav
              a.nav-link#ProductsNav(href='/products') Products & Services
                ul.subnav.text-left
                  .row
                    .col-xs-12.col-sm-4.column.one
                      li.item-nav
                        a(href='/products/CurriculumUnits') Curriculum Units
                      li.item-nav
                        a(href='/products/EarlyChildhood') Early Childhood
                      li.item-nav
                        a(href='/products/CorporatePartnership') Corporate Partnership
                      li.item-nav.last
                        a(href='/products/ScienceLessons') Science Lessons
                    .col-xs-12.col-sm-4.column.two
                      li.item-nav
                        a(href='/products/InternationalLicenseeProgram') International Licensee Program
                      li.item-nav
                        a(href='/products/ScienceSupplies') Science Supplies
                      li.item-nav.last
                        a(href='/products/ProfessionalDevelopment') Professional Development
                    .col-xs-12.col-sm-4.column.three
                      li.item-nav
                        a(href='/products/InSchoolFieldTrip') In-School Field Trip
                      li.item-nav
                        a(href='/products/HomeSchooling') Home Schooling
                      li.item-nav
                        a(href='/products/BirthdayParties') Birthday Parties
                      li.item-nav.last
                        a.last(href='/products') VIEW ALL →
            li.nav-item
              a.nav-link#SuccessStoriesNav(href='/success-stories') Success Stories
            li.nav-item
              a.nav-link#AboutNav(href='/about') About Us
            li.nav-item
              a.nav-link#ContactNav(href='#Contact') Contact Us
            if (!user)
              li.nav-item
                a.nav-link#LoginNav(href='/login') Login
            else
              li.nav-item
                a.nav-link#LogoutNav(href='/logout') Logout

mixin contactFooter(page)
  #Contact.page-section.large-section.less-padding.off.text-left.icon-right.relative
    .container
      .row
        .title-section.col-xs-12
          .title
            h3
              span.c-prim Interested?&nbsp;
              span.c-sec.new-line Get In Touch
          .link-icon
            .icon.icon-image
              img(src='/images/common/rightIconsContact.png', alt="Contact Us!")
      .row
        .content-section.no-push.col-xs-12
          .row
            .content-left.col-xs-12.col-sm-6
              .contact-form
                .row
                  form#contact-form.wow.fadeIn(action="https://formspree.io/info@little-scientists.com", method="POST")
                    .input-wrapper.col-xs-12
                      input#name(type='text', placeholder='Your Name* (required)', name='name', autocomplete='name')
                    .input-wrapper.col-xs-12
                      input#email(type='text', placeholder='Your Email Address* (required)', name="_replyto", autocomplete='email')
                    .input-wrapper.col-xs-12
                      textarea#message(type='text', placeholder='Your Message', name='message')
                    .input-wrapper.col-xs-12
                      .btn-wrapper.wow.pulse
                        button.shadow.button.hover-scale.solid.bg-prim(type='submit', value="Send") Send Message
            .content-right.col-xs-12.col-sm-6
              #footer
                .footer-content.col-xs-12
                  .footer-logo
                    a(href='/')
                      img(src='/images/common/logo_blue_text.png', alt='Little Scientists Logo')
                  .footer-meta
                    span.phone.footer-item Phone:&nbsp;
                      a(href='tel:2037831114 ') 1-800-FACT-FUN
                    span.email.footer-item Email:&nbsp;
                      a(href='mailto:info@little-scientists.com') info@little-scientists.com
                    span.social.footer-item
                      a(href='https://www.facebook.com/Little-Scientists-229004337115862/' target='_blank')
                        img(src='/images/common/social/fb.png', alt="Little Scientists Facebook")
                      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      a(href='https://www.facebook.com/Little-Scientists-229004337115862/' target='_blank')
                        img(src='/images/common/social/tw.png', alt="Little Scientists Twitter")
                      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      a(href='https://www.instagram.com/greatscientists/' target='_blank')
                        img(src='/images/common/social/ig.png', alt="Little Scientists Instagram")
                    span.copyright.footer-item
                      | Copyright © 2018, Little Scientists
                      sup &reg;
                      | &nbsp;Inc. All logos, brands, and trade names are Registered Trademarks of their Respective Owners.
                  .footer-designer
                    a.footer-designer-link(href='https://linkedin.com/in/abhinayar') Designed By Abhi Nayar

mixin internationalDelivery()
  .text-section.page-item
    .xl.bold.c-dark.wow.fadeIn International delivery is possible by calling&nbsp;
      a.reg-link(href='tel:18003228386') 1-800-FACT-FUN

mixin NGSSMatrix()
  table#NGSSMatrixTable.sm(border='1 solid #000000')
    tbody
      tr
        th(style="background-color: #f0f0f0") Science and Engineering Practices
        th(style="background-color: #f0f0f0") Disciplinary Core Ideas
        th(style='background-color: #ffc0c3')
          a(href='/products/CurriculumUnits/Kindergarten') Kindergarten
        th(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade') First Grade
        th(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade') Second Grade
        th(style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade') Third Grade
        th(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade') Fourth Grade
        th(style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade') Fifth Grade
      tr
        td(style="background-color: #fafafa") Asking questions & defining problems
        td(rowspan='2', style="background-color: #fafafa") Physical Science
        td(style='background-color: #ffc0c3', rowspan='2')
          a(href='/products/CurriculumUnits/Kindergarten/#WhatisaForce?') What is a Force?
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatisLight?') What is Light?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#WhatareMaterials?') What are Materials?
        td(style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade/#WhatarePropertiesofMagnets?') What are Properties of Magnets?
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#WhatisEnergy?') What is Energy?
        td(style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade/#WhatareChemicals?') What are Chemicals?
      tr
        td(style="background-color: #fafafa") Developing & using models
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatisSound?') What is Sound?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#WhatisEngineering?') What is Engineering?
        td(style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade/#Force&Motion') Force & Motion
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#Light&Sound') Light & Sound
        td(style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade/#WhatisGravity?') What is Gravity?
      tr
        td(style="background-color: #fafafa") Planning & carrying out investigations
        td(rowspan='2', style="background-color: #fafafa") Life Science
        td(rowspan='2', style='background-color: #ffc0c3')
          a(href='/products/CurriculumUnits/Kindergarten/#WhatisanEcosystem?') What is an Ecosystem?
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatarePlants?') What are Plants?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#LifeCyclesofPlants?') Life Cycle of Plants
        td(style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade/#WhatisHeredity?') What is Heredity?
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#WhataretheStructuresofOrganisms?') What are the Structures of Organisms?
        td(rowspan='2', style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade/#WhatisEnergyFlowinanEcosystem?') What is Energy Flow in an Ecosystem?
      tr
        td(style="background-color: #fafafa") Analyzing & interpreting data
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatareLifeCycles?') What are Life Cycles?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#WhatisDiversity?') What is Diversity?
        td(style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade/#WhatisEvolution?') What is Evolution?
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#WhatareSenses?') What are Senses?
      tr
        td(style="background-color: #fafafa") Using mathematics & computational thinking
        td(rowspan='2', style="background-color: #fafafa") Earth & Space Science
        td(rowspan='2', style='background-color: #ffc0c3')
          a(href='/products/CurriculumUnits/Kindergarten/#WhatisWeather?') What is Weather?
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatisOurSun?') What is Our Sun?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#WhatareLandForms?') What are Landforms?
        td(rowspan='2', style='background-color: #c1a9d5')
          a(href='/products/CurriculumUnits/ThirdGrade/#WhatisClimate?') What is Climate?
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#WhatarethelandformsonEarth?') What are the Landforms on Earth?
        td(style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade/#WhydowehaveChangingSeasons?') Why do we have Changing Seasons?
      tr
        td(style="background-color: #fafafa") Constructing explanations & designing solutions
        td(style='background-color: #cec9ea')
          a(href='/products/CurriculumUnits/FirstGrade/#WhatistheSolarSystem?') What is the Solar System?
        td(style='background-color: #a8e1c0')
          a(href='/products/CurriculumUnits/SecondGrade/#WhatisWater?') What is Water?
        td(style='background-color: #ffb9d8')
          a(href='/products/CurriculumUnits/FourthGrade/#HowDoesWeatherAffectEarth?') How does Weather Affect Earth?
        td(style='background-color: #9fe1fb')
          a(href='/products/CurriculumUnits/FifthGrade/#Weather&Climate') Weather & Climate
      tr
        td(style="background-color: #fafafa") Engaging in argument from evidence
        td(rowspan='2', style="background-color: #fafafa") Engineering, Technology & Application of Science
        td(rowspan='2', style='background-color: #ffc0c3')
          a(href='/products/CurriculumUnits/Kindergarten/#CanWeBuildIt?') Can we Build it?
        td(rowspan='2', style='background-color: #cec9ea')
        td(rowspan='2', style='background-color: #a8e1c0')
        td(rowspan='2', style='background-color: #c1a9d5')
        td(rowspan='2', style='background-color: #ffb9d8')
        td(rowspan='2', style='background-color: #9fe1fb')
          a(href="/products/CurriculumUnits/FifthGrade/#HowCanWeProtectEarth'sResources?") How Can We Protect Earth’s Resources?
      tr
        td(style="background-color: #fafafa") Obtaining, evaluating, & communicating information
